<div class="login-container">


  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="logo">WhatsLeft</div>
    <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required>
  </div>
  
  <div *ngIf="loginError" class="error-message">
    {{ loginError }}
  </div>
  
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
<button (click)="openCreateUserModal()">Create New User</button>
</div>
<app-create-user-modal 
  *ngIf="showCreateUserModal" 
  (close)="closeCreateUserModal()"
  (userCreated)="onUserCreated($event)">
</app-create-user-modal>
