<header class="header">
  <div class="header-content">
    <div class="logo">
      <span class="month">{{ householdName }}</span>
      <span class="brand-name"> WhatsLeft</span>
      <span class="month">in {{ getCurrentMonth() }}</span>
    </div>
    <div class="hamburger-menu" (click)="toggleMenu()">
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
    </div>
    <nav class="nav-links" [class.active]="isMenuOpen">
      <a class="nav-link" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      <a class="nav-link" routerLink="/historical">Historical data</a>
      <a class="nav-link" (click)="logout()">Logout</a>
    </nav>
  </div>
</header>